@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Reset */
 * {outline:0 !important;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
html, body{width:100%;}
html{-webkit-touch-callout:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);} */
body{width:100%; min-width:320px; -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all; }
body,input,select,textarea,button {border:none;font-size:12px; font-family:'Noto Sans KR', sans-serif;color:#727272;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{border:0;}
address,cite,code,em{font-style:normal;font-weight:normal;}
label,input,select,textarea,button{vertical-align:middle;}
.hide,caption,legend{line-height:0;font-size:1px;overflow:hidden;}
/* hr{display:none;} */
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;}
 
/* Form */
textarea { border:1px solid #dbdbdb;}
select { height:32px; font-size:13px; color:#373737; border:1px solid #e9e9e9; background:#fff;border-radius: 5px;}
input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date],textarea {width:100%; height:30px; font-size:13px; color:#373737; border:1px solid #e9e9e9; background:#fff; text-indent:20px; border-radius: 5px; transition: all 0.5s; vertical-align:middle;}
input::-webkit-input-placeholder{color:#b5b5b5; font-size:12px; line-height:100%;}
textarea { padding:5px 0;}
select:focus,
textarea:focus,
input:focus { border: 1px solid #727272;}

input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly], 
input[type=search][readonly], 
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled]{background:#eaeaea; border-color:#c0c0c0; color:#666; -webkit-appearance:none;font-size:12px;}
textarea[readonly],
textarea[disabled]{padding:11px; font-size:16px; color:#666; font-weight:normal; line-height:140%; height:78px; background:#eaeaea;border:1px solid #c0c0c0;}

.clear {clear:both;}
.clear:after { content:""; display:block; clear:both;}

body{background-color: #000; overflow-x: hidden;}


#top {
    font-family: 'Poppins';
    font-style: normal;
    color: #FFFFFF;
}
#logo{
    display: inline;
    width: 107px;
    height: 47px;
    font-weight: 500;
    font-size: 31.1313px;
    line-height: 77px; 
    letter-spacing: -0.02em;
    text-shadow: 0px 0px 14.2926px #000000;
    font-family: 'Poppins';
    font-style: normal;
    color: #FFFFFF;
}
#add{
    display: inline-block;
    float: right;
    margin:-40px 0 0 608px;
    height: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px; 
}
#main{
    position: absolute;
    width: 915px;
    margin:0 auto;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    overflow-x: hidden;

}


#title{
    margin-top: 143.5px;
    margin-bottom: 70px;
    font-family: 'Pretendard';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#title .titles{
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
}
.title_sub{
    font-weight: 500;
    font-size: 40px;
    line-height: 70px;
}

#music_1_postion{
    position: static;
    margin-top: 250px;
}
#select_music{
    float:none;
    position: relative;
    margin:0;
    margin-left: 121.5px;
    font-family: 'Pretendard';
    font-style: normal;
}
.img_thumbnail_1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.86) 100%), url("../img/pc_thumbnail6.png");
    width: 670px;
    height: 480px;
    border-radius: 60px;
    border: #fff 2px solid;
}

#theme{
    position: absolute;
    top:58px;
    left: 262px; 
    font-weight: 400;
    font-size: 40px;
    font-family: 'Poppins';
    line-height: 130%;
    color: #FFFFFF;
}
#singer{
    position: absolute;
    top:228px;
    left: 295px; 
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    color: #FFFFFF;
}
.singer_introduce{
    position: absolute;
    width: 280px;
    height: 43px;
    top:-55px;
    left:-90px;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}
#select_num{
    position: absolute;
    top:392px;
    left: 225px; 
    font-weight:500;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
}
#detail {
    width: 520px;
    margin: 91.5px 0 0 196.5px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight:700;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
}
iframe {
    margin: 185px 0 83.57px 72.5px;
}
#btn_share{
    margin: 0 0 15px 284.5px;
    width: 344px;
    height: 60px;
    text-align: center;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight:700;
    font-size: 17px;
    line-height: 60px;
    color: #FFFFFF;
    background-color: #212121;
    border-radius: 12px;
}
.imgs{
    width: 23px;
    top: 20.25px;
    left: 94px; 
    margin-right: 13px;
    
}
#btn_replay {
    margin: 27px 0 0 325px;
    width: 263px;
    height: 61px;
    text-align: center;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight:700;
    font-size: 18px;
    line-height: 61px;
    color: #FFFFFF;
    background-color: #5547c5;
    border-radius: 16px;
}
#detail_2{
    margin: 112px 0 63px 0;
    height: 38px;
    text-align: center;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight:700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
#star{
    display: inline-block;
    float:none;  
    position: relative;
    margin:0;
    font-family: 'Pretendard';
    font-style: normal;
    
}

.img_thumbnail_2 {
    /* background: linear-gradient(180deg, #010101 33.61%, #271a8c 100%), url("../img/other_star1.png"); */
    width: 276px;
    height: 368px;
    margin-right: 28px;
    border: 3px solid transparent;
    border-radius: 55.2px;
    background-image: linear-gradient(#010101 33.61%, #271a8c 100%), 
    linear-gradient(#634eff , #352d7c );
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.other_theme_2{
    position: absolute;
    top:29.44px;
    left: 91px; 
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins';
    line-height: 120%;
    color: #634eff;
}
#other_singer{
    position: absolute;
    text-align: center;
    width: 170px;
    top:150px;
    left: 56px; 
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: #FFFFFF;
}
.other_singer_introduce{
    position: absolute;
    width: 180px;
    height: 29px;
    top: -45px;
    left: -5px;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}
#other_select_num{
    position: absolute;
    top:312px;
    left: 85px; 
    font-weight:500;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}

.img_thumbnail_3 {
    width: 276px;
    height: 368px;
    margin-right: 28px;
    border: 3px solid transparent;
    border-radius: 55.2px;
    background-image: linear-gradient(#010101 33.61%, #75412b 100%), 
    linear-gradient(#e07c52 , #6c3914 );
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.other_theme_3{
    position: absolute;
    top:29.44px;
    left: 91px; 
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins';
    line-height: 120%;
    color: #e07c52;
}

.img_thumbnail_4 {
    width: 276px;
    height: 368px;
    border: 3px solid transparent;
    border-radius: 55.2px;
    background-image: linear-gradient(#010101 33.61%, #37735a 100%), 
    linear-gradient(#21b896 , #236c5c );
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.other_theme_4{
    position: absolute;
    top:29.44px;
    left: 91px; 
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins';
    line-height: 120%;
    color: #32af7b;
}
.stars_2{
    display: inline-block;
    float:none;  
    position: relative;
    margin:25px 32px 208px 155px;
    font-family: 'Pretendard';
    font-style: normal;
}
.stars_3{
    display: inline-block;
    float:none;  
    position: relative;
    margin:25px 32px 208px 0;
    font-family: 'Pretendard';
    font-style: normal;
}
.img_thumbnail_5 {
    width: 276px;
    height: 368px;
    border: 3px solid transparent;
    border-radius: 55.2px;
    background-image: linear-gradient(#010101 33.61%, #3d4714 100%), 
    linear-gradient(#68762e , #315503 );
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.other_theme_5{
    position: absolute;
    top:29.44px;
    left: 91px; 
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins';
    line-height: 120%;
    color: #47c826;

}
.img_thumbnail_6 {
    width: 276px;
    height: 368px;
   

}
.img_full{
    position: absolute; top:0; left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border: 3px solid transparent;
    border-radius: 55.2px;
    background-image: linear-gradient(#010101 33.61%, #3d4714 100%), 
    linear-gradient(#cacaca , #676767 );
    background-origin: border-box;
    background-clip: content-box, border-box;

}
.other_theme_6{
    position: absolute;
    top:29.44px;
    left: 91px; 
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins';
    line-height: 120%;
    color: #ffffff;
}
#btn_singer{
    background: linear-gradient(to right,  #000000 44.91%, rgba(0, 0, 0, 0) 105.31%), url("../img/pc_thumbnail6.png");
    background-size: cover;
    margin: 0 0 65px 284.5px;
    width: 344px;
    height: 104px;
    text-align: center;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight:700;
    font-size: 17px;
    line-height: 104px;
    color: #FFFFFF;
    background-color: #212121;
    border: #b6b6b6 2px solid ;
    border-radius: 20.559px;
    float:none;
    position: relative;
}
#btn_detail {
    position: absolute;
    text-align: left;
    top:30px;
    left: 20px; 
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    align-items: center;
    letter-spacing: -0.02em;
}
#btn_img_next{
    position: absolute;
    top:12px;
    left: 310px; 
    
}
#btn_img_next img{
    width: 20px;
}

/* PC */
@media (max-width: 1799px){
    #main{
        position: absolute;
        transform: translate(-50%, 0);
        margin: 0 auto;
    }     
    iframe {
        width: 678px;
        height: 362px;
        margin: 72px 0 98px 184px;
    }
    #btn_singer{
        margin: 0 0 65px 280px;
    }
}
/* 태블릿 */
@media (max-width: 1023px){
    #logo{
        margin-left: 84px;
    }
    #add{
        float: right;
        margin:-40px 84px 0 350px;
    }
    #main{
        position: absolute;
        width: 792px;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 auto;
    }
    
    #title{
        margin-top: 143.5px;
        margin-bottom: 72px;
    }
    #title .titles{
        font-size: 36px;
        line-height: 36px;
    }
    .title_sub{
        font-size: 36px;
    }
    
    #select_music{
        margin-left: 108px;
    }
    .img_thumbnail_1 {
        width: 576px;
        height: 414px;
        border-radius: 55.75px;
    }
    
    #theme{
        top:50px;
        left: 220px; 
        font-size: 36px;
        line-height: 130%;
    }
    #singer{
        top:198px;
        left: 248px; 
        font-size: 44px;
    }
    .singer_introduce{
        font-size: 32px;
    }
    #select_num{
        top:338px;
        left: 211px; 
        font-size: 28px;
    }
    #detail {
        width: 500px;
        margin: 140px 0 0 146px;
        font-size: 28px;
        text-align: center;

    }
    iframe {
        width: 550px;
        height: 362px;
        margin: 72px 0 98px 128px;
    }
    #btn_share{
        margin: 0 0 15px 224px;
    }
    .imgs{
        width: 23px;
        top: 20.25px;
        left: 94px; 
        margin-right: 13px;
        
    }
    #btn_replay {
        margin: 72px 0 0 264.5px;
    }
    #detail_2{
        margin: 140px 0 63px 0;
        height: 34px;
        font-size: 28px;
        line-height: 34px;
    }
    
    .img_thumbnail_2 {
        width: 220px;
        height: 294px;
        margin-right: 0px;
        border-radius: 57.425px;
    }
    
    .other_theme_2{
        top:24px;
        left: 70px; 
    }
    #other_singer{
        top:120px;
        left: 28px; 
    }
    #star {
        margin-left: 25px;
    }
    .other_singer_introduce{
        font-size: 24px;
        line-height: 40px;
        opacity: 0.8;

    }
    #other_select_num{
        top:250px;
        left:55px; 

    }
    
    .img_thumbnail_3 {
        width: 220px;
        height: 294px;
        margin-right: 0px;
        border-radius: 57.425px;
    }
    .other_theme_3{
        top:24px;
        left: 70px; 
    }
    
    .img_thumbnail_4 {
        width: 220px;
        height: 294px;
        margin-right: 0px;
        border-radius: 57.425px;
    }
    .other_theme_4{
        top:24px;
        left: 70px; 
    }

    .img_thumbnail_5 {
        width: 220px;
        height: 294px;
        margin-right: 0px;
        border-radius: 57.425px;
    }
    .other_theme_5{
        top:24px;
        left: 70px; 
    
    }
    .img_thumbnail_6 {
        width: 220px;
        height: 294px;
    }
    
    .other_theme_6{
        top:24px;
        left: 70px; 
    }
    #btn_singer{
        margin: 0 0 65px 224px;
    }


}

/*모바일 */
@media (max-width: 639px){
    #top {
        font-family: 'Poppins';
        font-style: normal;
        color: #FFFFFF;
    }
    #logo{
        display: none;

    }
    #add{
        display: none;
    }
    #main{
        width: 350px;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
     
    }
        
    #title{
        margin-top: 85px;
        margin-bottom: 50px;
    }
    #title .titles{
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
    }
    .title_sub{
        font-weight: 500;
        font-size: 20px;
        line-height: 70px;
    }
    
    #music_1_postion{
        position: static;
        margin-top: 0px;
    }
    #select_music{
        margin:0;
        margin-left:0px;

    }
    .img_thumbnail_1 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.86) 100%), url("../img/mobile_thumbnail6.png");
        width: 330px;
        height: 240px;
        border-radius: 30px;
        border: #fff 2px solid;
        background-size: cover ;
        margin: auto;
    }
    
    #theme{
        top:28px;
        left: 131px; 
        font-size: 20px;
        line-height: 120%;
    }
    #singer{
        top:114px;
        left: 144px; 
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
    }
    .singer_introduce{
        width: 280px;
        height: 22px;
        top:-38px;
        left:-46px;
        font-size: 18px;
        line-height: 120%;
    }
    #select_num{
        top:196px;
        left: 127px; 
        font-size: 15px;
        line-height: 120%;
    }
    #detail {
        width: 300px;
        margin: auto;
        margin-top: 46px;
        font-weight:700;
        font-size: 18px;
        line-height: 120%;
    }
    iframe {
        width:335px;
        height: 179px;
        margin: 20px 0 36px 10px;
    }
    #btn_share{
        margin:auto;
        margin-bottom:10px;
        width: 335px;
        font-weight:400;
        font-size: 16px;
        border-radius: 12px;
    }
    #btn_replay {
        margin: auto;
        margin-top: 60px ;
        margin-bottom: 62px;
        width: 335px;
        height: 60px;
        font-weight:400;
        font-size: 16px;
        line-height: 60px;
        border-radius: 12px;
    }
    #detail_2{
        margin: 0 0 20px 10px;
        height: 38px;
        font-weight:700;
        font-size: 18px;
        line-height: 38px;
        text-align: left;
    }
    
    .img_thumbnail_2 {
        width: 150px;
        height: 200px;
        margin-right: 0px;
        border-radius: 30px;
    }
    
    .other_theme_2{
        top:16px;
        left: 54px; 
        font-size: 13px;
    }
    #other_singer{
        width: 73px;
        top:82px;
        left: 41px; 
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
    }
    .other_singer_introduce{
        width: 110px;
        height: 18px;
        top: -40px;
        left: -15px;
        font-size: 13px;

    }
    #other_select_num{
        top:170px;
        left: 44px; 
        font-weight:500;
        font-size: 12px;
        line-height: 120%;
    }
    
    .img_thumbnail_3 {
        width: 150px;
        height: 200px;
        margin-right: 0px;
        border-radius: 30px;
    }
    .other_theme_3{
        top:16px;
        left: 54px; 
        font-size: 13px;
    }
    
    .img_thumbnail_4 {
        width: 150px;
        height: 200px;
        margin-right: 0px;
        border-radius: 30px;
    }
    .other_theme_4{
        top:16px;
        left: 54px; 
        font-size: 13px;
    }
    #star {margin:0; margin-right: 6px;}
    
    .stars_2{
        display: inline-block;
        float:none;  
        position: relative;
        margin:0;
        margin-right: 6px;
    }
    .stars_3{
        display: inline-block;
        float:none;  
        position: relative;
        margin:0;
        font-family: 'Pretendard';
        font-style: normal;
    }
    .img_thumbnail_5 {
        width: 150px;
        height: 200px;
        margin: 0px;
        border-radius: 30px;

    }
    .other_theme_5{
        top:16px;
        left: 54px; 
        font-size: 13px;
    
    }
    .img_thumbnail_6 {
        width: 150px;
        height: 200px;
       
    
    }
    .img_full{
        position: absolute; top:0; left: 0;
        width: 100%;
        height: 100%;
        object-fit:cover;
        border: 3px solid transparent;
        border-radius: 30px;
        background-image: linear-gradient(#010101 33.61%, #3d4714 100%), 
        linear-gradient(#cacaca , #676767 );
        background-origin: border-box;
        background-clip: content-box, border-box;
    
    }
    .other_theme_6{
        top:16px;
        left: 54px; 
        font-size: 13px;
    }
    #btn_singer{
        margin:auto;
        margin-bottom:40px;
        width:330px;
        height: 102px;

    }
    #content {
        flex: 1;
        display: flex;
        overflow: auto;
        margin-bottom: 101px;
        height: 100%;
        overflow-y: hidden;
    }
    
    #box {
        display: flex;
        min-height: min-content; /* needs vendor prefixes */
    }


}

/*모바일 */
@media (max-width: 390px){
    #main{
        width: 335px;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
     
    }
}
